body {
    box-sizing: border-box;
    margin: 0;
    background-color: #f1f2f3;
    font-family: -apple-system, BlinkMacSystemFont;
    line-height: 1.5;
    font-weight: 500;
    color: #232835;
    position: relative;
}
a {
    text-decoration: none;
    color: #232835;
}
img{
    vertical-align: middle;
}
header.header{
    background-color: #91725A;
    color: #ffffff;
    top: 0;
}

header.header,
.banner,
.con .card.card-header{
    position: fixed;
    left: 0;
    width: 100%;
}

.status_bar,
.nav_bar,
.banner .breif,
.banner .tablist,
.card, .form-group{
    display: flex;
}

.status_bar{
    justify-content: space-between;
    align-items: center;
}
.status_bar img {
    height: 20px;
}


.nav_bar {
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    text-align: center;
    height: 44px;
}
.nav_bar > img {
    height: 28px;
}
.nav_bar .title {
    padding-bottom: 4px;
}
.nav_bar .locate {
    font-size: 14px;
    font-weight: 500;
}
.nav_bar .locate img {
    height: 16px;
    vertical-align: middle;
    margin-right: 8px;
}
.nav_bar .update {
    font-size: 12px;
    opacity: 0.8;
}

.banner{
    top: 64px;
    background-color: #fff;
    box-shadow: 0 1px 0px #E1E5EB;
    padding-top: 8px;
    padding-left: 15px;
    padding-right: 15px;
}
.banner .breif{
    max-width: calc( 100% - 30px);
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 4px;
}
.banner .breif span{
    color: #C4CBD7;
}
.banner .breif img{
    height: 44px;
}
.banner .tablist{
    font-size: 14px;
    font-weight: 700;
    color: #616770;
}
.banner .tablist .tab{
    padding: 0px 10px 8px 10px;
}
.banner .tablist .tab.active {
    font-weight: 700;
    color: #91725A;
    position: relative;
}
.banner .tablist .tab.active::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 4px;
    width: calc(100% - 36px);
    background-color: #91725A;
    border-radius: 5px;
    transform: translateX(-50%);
}

.con{
    padding: 180px 10px 12px 10px;

}

.card {
    padding: 8px;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
    font-weight: 700;
}


.card.card-header {
    max-width: calc( 100% - 36px);
    top: 150px;
    font-size: 12px;
    font-weight: 600;
    color: #A3ACB7;
    padding: 12px 18px 0 18px;
    background-color: #f1f2f3;
}

.card.stage-card {
    padding: 12px 8px;
    margin: 4px 0 8px 0;
}

.card .light {
    height: 12px;
    width: 12px;
    border-radius: 12px;
}
.card.stage-card .light {
    border: 1px solid #E1E5EB;
    background-color: #fff;
}
.card.stage-card .light.success {
    border: 1px solid #61B94F;
    background-color: #61B94F;
}
.card.stage-card .light.warning {
    border: 1px solid #F9E52D;
    background-color: #F9E52D;
}
.card.stage-card .light.error {
    border: 1px solid #D84929;
    background-color: #D84929;
}



.card .stage-name {
    width: 30VW;
}

.card .time{
    text-align: center;
    width: 20VW;
}

.card.stage-card .time{
    background-color: #f1f2f3;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}


.card.stage-card .time.d-na {
    background-color: #fff;
    color: #A3ACB7;
}
.card.stage-card .time.d {
    color: #A3ACB7;
}
.card.stage-card .time.error {
    color: #D84929;
}

.card.stage-card .time span {
    font-size: 12px ;
}

.sheet-container{
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: 0.3s;
}
.sheet-container.fade-out{
    opacity: 0;
    top: 100%;
}
.sheet{
    margin-top: 36px;
    background-color: #fff;
    border-radius: 20px 20px 0 0 ;
    position: absolute;
    bottom: 86px;
    left: 0;
    width: 100%;
}

.sheet .header {
    text-align: center;
    position: relative;
    font-size: 18px;
    font-weight: 700;
    padding: 12px 0;
    box-shadow: 0 1px 0px #E1E5EB;
}

.sheet .header .close{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.sheet .header .close img{
    height: 28px;
}
.sheet .content{
    padding: 20px 16px;
    font-size: 16px;
    font-weight: 600;
}

.sheet .content .date label,
.sheet .content .time label{
    display: none;
}
.sheet .content .date input,
.sheet .content .time input{
    text-align: center;
    width: 100%;
    font-weight: 700;
    border: none;
    background-color: #f1f2f3;
    font-size: 24px;
    margin-bottom: 16px;
}
.sheet .content .time input{
    font-size: 50px;
}

.form-group{
    justify-content: space-between;
}
.sheet .content textarea.rmk-txt {
    width: 100%;
    background-color: #f1f2f3;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont;
    border: 0;
    border-radius: 4px;
}
.rmk-txt-wrap {
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont;
    margin-top: 0px;
    height: 0px;
    transition: 0.2s;
    width: 100%;
    opacity: 0;
    background-color: #f1f2f3;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}
.rmk-txt-wrap.active{
    margin-top: 16px;
    height: 180px;
    opacity: 1;
}

.sheet .btn {
    padding: 15px;
    box-shadow: 0 -1px 0px #E1E5EB;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: calc(100% - 30px);
    background-color: #fff;
}

.sheet .btn a{
    display: inline-block;
    width: calc(100% - 30px);
    background-color: #91725A;
    padding: 16px;
    border-radius: 30px;
    color: #fff;
}

.switch-toggle{
    display: flex;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 4px;
  }

  .switch .checkbox {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f1f2f3;
    -webkit-transition: .2s;
    transition: .2s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    box-shadow: 0 0px 10px rgba(0,0,0,0.2);
    -webkit-transition: .2s;
    transition: .2s;
  }

  .checkbox.checked + .slider {
    background-color: #91725A;
  }

  .checkbox.focus + .slider {
    /* box-shadow: 0 0 1px #91725A; */
  }

  .checkbox.checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
